main {
  background: rgba(31, 49, 88, 0.02);
}

.hamburger-menu-open,
.hamburger-menu-close {
  cursor: pointer;
}

.book-a-session {
  margin-top: 60px;
}

.book-a-session-container {
  display: flex;
  gap: 49px;
}

.book-a-session-form {
  display: flex;
  flex-direction: column;
  padding: 36px 24px;
  background: #ffffff;
  border: 0.5px solid #c6c8cc;
  border-radius: 10px;
}

.book-a-session-form h2 {
  font-weight: 600;
  font-size: 40px;
  font-family: "adobe-garamond-pro", serif;
  color: #070a13;
}

.book-a-session-form p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0;
  color: #070a13;
}

.book-a-session-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 28px;
}

.book-a-session-inputs div {
  display: flex;
  flex-direction: column;
}

.book-a-session-inputs div label {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #070a13;
  margin-bottom: 10px;
}

.book-a-session-inputs div input {
  border: 1px solid #babcbf;
  border-radius: 3px;
  outline: none;
  padding: 12px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.book-a-session-textarea {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.book-a-session-textarea label {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  margin-bottom: 10px;
}

.book-a-session-textarea textarea {
  height: 190px;
  border: 1px solid #babbbf;
  border-radius: 3px;
  resize: none;
  padding: 15px 20px;
  outline: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.book-a-session-button {
  align-self: center;
}

.book-a-session-button button {
  width: 200px;
  height: 50px;
  background: linear-gradient(181.58deg, #c04c40 1.34%, #a63735 106.77%);
  border-radius: 8px;
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}

.book-session-contact {
  display: flex;
  flex-direction: column;
  padding: 36px 50px;
  background: #ffffff;
  border: 0.5px solid #c6c8cc;
  border-radius: 10px;
  width: 355px;
  height: fit-content;
}

.book-session-contact h3 {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #070a13;
  margin-bottom: 20px;
}

.book-session-contact p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #070a13;
  margin-bottom: 45px;
}

.book-session-contact a {
  width: 100%;
  height: 50px;
  background: rgba(31, 49, 88, 0.08);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #070a13;
}

.phone-card {
  margin-bottom: 10px;
}

.thank-you-background {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: rgba(7, 10, 19, 0.2);
  backdrop-filter: blur(2.5px);
}

section.none {
  display: none;
}

.thank-you-card {
  position: fixed;
  padding: 100px 232px;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 10px 20px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.brown-circle-left {
  position: absolute;
  height: 120px;
  top: -5px;
  left: 0;
}

.brown-circle-bottom {
  position: absolute;
  width: 160px;
  bottom: 0;
  right: -20px;
}

.close-hamburger img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 30px;
  cursor: pointer;
}

.thank-you-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 436px;
  height: 398.05px;
}

.thank-you-section img {
  width: 250px;
  margin-bottom: 50px;
}

.thank-you-section h3 {
  font-family: "Adobe Garamond Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  text-align: center;
  color: #070a13;
  margin-bottom: 30px;
}

.thank-you-section p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #070a13;
}

footer {
  margin-top: 68px;
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px) {
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px) {
  .book-a-session-form {
    margin-top: 20px;
  }

  .book-a-session-container {
    margin-top: 20px;
  }
  .book-session-contact {
    display: none;
  }

  .book-a-session-inputs {
    grid-template-columns: 1fr;
    /* gap: 28px; */
  }

  .thank-you-card {
    padding: 40px 60px;
  }

  .thank-you-section {
    width: 349.76px;
    height: 239px;
  }

  .thank-you-section img {
    width: 100px;
    margin-bottom: 19px;
  }

  .thank-you-section h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }

  .thank-you-section p {
    font-size: 12px;
    width: 231.79px;
  }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px) {
  .book-a-session {
    margin-top: 0;
  }

  .book-a-session-form {
    margin-top: 10px;
  }

  .book-session-contact {
    display: none;
  }

  .book-a-session-inputs {
    grid-template-columns: 1fr;
    /* gap: 28px; */
  }

  .thank-you-card {
    padding: 5% 10%;
  }

  .thank-you-section {
    width: 99%;
    height: 239px;
  }

  .thank-you-section img {
    width: 100px;
    margin-bottom: 19px;
  }

  .thank-you-section h3 {
    font-size: 21px;
    margin-bottom: 12px;
  }

  .thank-you-section p {
    font-size: 12px;
    width: 231.79px;
  }

  .brown-circle-left {
    height: 80px;
  }

  .brown-circle-bottom {
    width: 80px;
  }
}

@media only screen and (max-width: 400px) {
  .book-a-session {
    margin-top: 0;
  }

  .book-a-session-container {
    display: inline-block;
    gap: 0;
    width: 100%;
  }

  .book-a-session-form {
    border: none;
  }
}
