.FQ{
    height: max-content;
    position: relative;
    display: block;
}
section .text{
    margin: auto;
}
section .text h1{
    text-align: center;
    font-family:"adobe-garamond-pro", serif;
}
section .text p{
    text-align: center;
}
section .FAQ{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.5px solid #C6C8CC;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    height: max-content;
    display: block;
}
section .FAQ h4{
    font-style: normal;
    color: #070A13;
    display: block;
}
section .FAQ-img img {
    position: absolute; 
}
section .FAQ-img{
    margin: auto;   
    position: relative;
}
.FAQ-container{
    margin-bottom: 20px;
    display: block;
    height: max-content;
    
}
.FAQ-container:first-child{
    height: 100;
}
.block{
    display: block;
}


/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    .FQ{
        padding-bottom: 60px;
    }
    section .text{
        width: 732px;
    }
    section .text h1{
        font-size: 50px;
        margin-top: 90px;
        margin-bottom: 25px;
    }
    section .text p{
        font-size: 22px;
        margin-bottom: 60px;
    }
    section .FAQ{
        width: 1210px;
        padding-bottom: 40px;
        border-radius: 5px;
        position: relative;
        display: block;
    }
    section .FAQ h4{
        width: 672px;
        height: 22px;
        margin-left: 29px;
        margin-top: 40px;
        font-weight: 700;
        font-size: 23px;
        line-height: 26px;
    }
    section .FAQ p{
        margin-left: 29px;
        margin-top: 30px;
        width: 1020px;
        font-weight: 400;
        font-size: 21px;
        color: rgba(7, 10, 19, 0.8);
        display: none;
    }
    section .FAQ-img{
        width: 1210px;
        display: block;
    }
    section .FAQ-img img {
        width: 48px;
        height: 48px;
        right: 43px;
        top: -75px; 
    }
    section .FAQ-img .FAQ-cross {
        width: 25px;
        height: 25px;
        margin-top: 12px;
        margin-right: 11px;
    }
    section .FAQ-img .FAQ-minus {
        width: 27px;
        height: 4px;
        margin-top: 22px;
        margin-right: 10px;
        display: none;
    }
    section .FAQ-img .FAQ-brown-2 {
        display: none;
    }
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){
    .FQ{
        padding-bottom: 55px;
    }
    section .text{
        width: 652px;
    }
    section .text h1{
        font-size: 40px;
        margin-top: 70px;
        margin-bottom: 20px;
    }
    section .text p{
        font-size: 20px;
        margin-bottom: 50px;
    }
    section .FAQ{
        width: 90%;
        padding-bottom: 30px;
        top: 360px;
        border-radius: 5px;
    }
    section .FAQ h4{
        width: 672px;
        height: 22px;
        margin-left: 24px;
        margin-top: 30px;
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
    }
    section .FAQ p{
        margin-left: 24px;
        margin-top: 25px;
        width: 85%;
        font-weight: 400;
        font-size: 18px;
        color: rgba(7, 10, 19, 0.8);
        display: none;
    }
    section .FAQ-img{
        width: 90%;
    }
    section .FAQ-img img {
        width: 40px;
        height: 40px;
        right: 43px;
        top: -60px; 
    }
    section .FAQ-img .FAQ-cross {
        width: 22px;
        height: 22px;
        margin-top: 10px;
        margin-right: 9px;
    }
    section .FAQ-img .FAQ-minus {
        width: 25px;
        height: 4px;
        margin-top: 18px;
        margin-right: 8px;
        display: none;
    }
    section .FAQ-img .FAQ-brown-2 {
        display: none;
    }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){
    .FQ{
        padding-bottom: 46px;
    }
    section .text{
        width: 532px;
    }
    section .text h1{
        font-size: 30px;
        margin-top: 60px;
        margin-bottom: 15px;
    }
    section .text p{
        font-size: 18px;
        margin-bottom: 40px;
    }
    section .FAQ{
        width: 90%;
        padding-bottom: 30px;
        top: 360px;
        border-radius: 5px;
    }
    section .FAQ h4{
        width: 672px;
        height: 22px;
        margin-left: 16px;
        margin-top: 20px;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
    }
    section .FAQ p{
        margin-left: 16px;
        margin-top: 20px;
        width: 85%;
        font-weight: 400;
        font-size: 15px;
        color: rgba(7, 10, 19, 0.8);
        height: 123px;
        display: none;
    }
    section .FAQ-img{
        width: 90%;
    }
    section .FAQ-img img {
        width: 34px;
        height: 34px;
        right: 27px;
        top: -55px; 
    }
    section .FAQ-img .FAQ-brown-2 {
        margin-top: -13px;
    }
    section .FAQ-img .FAQ-cross {
        width: 20px;
        height: 20px;
        margin-top: 8px;
        margin-right: 7px;
    }
    section .FAQ-img .FAQ-minus {
        width: 21px;
        height: 4px;
        margin-top: 3px;
        margin-right: 7px;
        display: none;
    }
    section .FAQ-img .FAQ-brown-2 {
        display: none;
    }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){
    .FQ{
        padding-bottom: 36px;
    }
    section .text{
        width: 90%;
    }
    section .text h1{
        font-size: 21px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    section .text p{
        font-size: 12px;
        margin-bottom: 40px;
    }
    section .FAQ{
        width: 95%;
        padding-bottom: 25px;
        top: 360px;
        border-radius: 5px;
    }
    section .FAQ h4{
        width: 164px;
        height: 22px;
        margin-left: 12px;
        margin-top: 20px;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
    }
    section .FAQ p{
        margin-left: 12px;
        margin-top: 20px;
        width: 90%;
        font-weight: 400;
        font-size: 12px;
        color: rgba(7, 10, 19, 0.8);
        height: 123px;
        display: none;
    }
    section .FAQ-img{
        width: 95%;
    }
    section .FAQ-img img {
        width: 26px;
        height: 26px;
        right: 27px;
        top: -49px; 
    }
    section .FAQ-img .FAQ-brown-2 {
        margin-top: -13px;
    }
    section .FAQ-img .FAQ-cross {
        width: 15px;
        height: 15px;
        margin-top: 7px;
        margin-right: 6px;
    }
    section .FAQ-img .FAQ-minus {
        width: 15px;
        height: 2px;
        margin-right: 6px;
        display: none;
    }
    section .FAQ-img .FAQ-brown-2 {
        display: none;
    }
}