.parent-reviews{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.slider{
    display: flex;
    justify-content: space-between;
    height: max-content;
}
.slider .content{
    margin: auto;
    display: flex;
    justify-content:flex-start; 
    flex-wrap: wrap;
    height: max-content;
    top: 0;
    margin-top: 0px;
    transition: opacity 0.5s ease;   
}
.parent-reviews{
    height: max-content;
}
.parent-reviews .text-1 h2{
    font-family: "adobe-garamond-pro", serif;
}
.parent-reviews .text-1 p{
    margin: auto;
}
.slider{
    margin: auto;
}
.slider .parent-mdl{
    display: inline;
}
.slider .stars{
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
}
.slider .text {
    display: flex;
    text-align:left;
    position:relative;
    height: max-content;
}
.slider .text .read-more{
    color: #233C7E;
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
}
.slider .mdl{
    display: inline-block;
}
.slider .name{
    display: inline-block;    
    position:absolute;
}
.slider .parent-mdl{
    position: relative;
}
.slider .parent-mdl img{
    border-radius: 50%;
}
.slider .mdl{
    display: inline-block;
}
.radio-buttons{
    display: inline-block;
}
.custom-radio-btn{
    border-radius: 50%;
    border: none;
    background-color: #070a135e ;
    display: inline-block;
}
.custom-radio-btn span {
    border-radius: 50%;
    background-color: #070a13df;
    display: none;
}
.custom-radio-btn input{
    display: none;
}
.custom-radio-btn input:checked + .checkmark {
    display: block;
} 
.slider .stars h4{
    color: #1F3158;
}
 


/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    .parent-reviews .text-1{
        margin-top: 11px;
        margin-top: 150px;
    }
    .parent-reviews .text-1 h2{
        font-size: 60px;
    }
    .parent-reviews .text-1 p{
        margin-bottom: 25px;
        font-size: 22px;
        width: 785px;
    }
    .parent-reviews .text .review-text-1{
        display: none; 
    }
    .slider{
        width: 1210px;
        margin-top: 60px;
    }
    .slider .content{
        width: 490px;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.236);
        margin-left: 10px;
        margin-right: 10px;
    }
    .slider .parent-mdl{
        width: 77px;
        height: 77px;
    }
    .slider .stars{
        margin-top: 32px;
        margin-left: 32px;
        margin-bottom: 11px;
    }
    .slider .stars h2{
        font-size: 22px;
        margin-bottom: 7px;
    }
    .slider .text {
        margin-left: 29px;
        width: 331px;
    }
    .slider .text p{
        width: 331px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .slider .name{
        margin-left: 8px;
        bottom: 14px;
    }
    .slider .name .star{
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .radio-buttons{
        margin-top: 35px;
        margin-bottom: 176px;
    }
    .custom-radio-btn{
        width: 17px;
        height: 17px;
        margin-left: 17px; 
    }
    .custom-radio-btn:first-child{
        margin-left: 0px;
    }
    .custom-radio-btn span {
        width: 17px;
        height: 17px;
    }
}


/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){
    .parent-reviews .text-1{
        margin-top: 11px;
        margin-top: 112px;
    }
    .parent-reviews .text-1 h2{
        font-size: 50px;
    }
    .parent-reviews .text-1 p{
        margin-bottom: 20px;
        font-size: 20px;
        width: 725px;
    }
    .parent-reviews .text .review-text-1{
        display: none; 
    }
    .slider{
        width: 920px;
        margin-top: 50px;
    }
    .slider .content{
        width: 293px;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.236);
        margin-left: 8px;
        margin-right: 8px;
    }
    .slider .parent-mdl{
        width: 67px;
        height: 67px;
    }
    .slider .stars{
        margin-top: 28px;
        margin-left: 28px;
        margin-bottom: 9px;
    }
    .slider .stars h2{
        font-size: 20px;
        margin-bottom: 6px;
    }
    .slider .text {
        margin-left: 20px;
        width: 260px;
    }
    .slider .text p{
        width: 331px;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .slider .name{
        margin-left: 8px;
        bottom: 14px;
    }
    .slider .name .star{
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .radio-buttons{
        margin-top: 30px;
        margin-bottom: 156px;
    }
    .custom-radio-btn{
        width: 16px;
        height: 16px;
        margin-left: 16px; 
    }
    .custom-radio-btn:first-child{
        margin-left: 0px;
    }
    .custom-radio-btn span {
        width: 16px;
        height: 16px;
    }
}


/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){
    .parent-reviews .text-1{
        margin-top: 75px;
    }
    .parent-reviews .text-1 h2{
        font-size: 40px;
    }
    .parent-reviews .text-1 p{
        margin-top: 20px;
        font-size: 18px;
        width: 80%;
        margin-bottom: 80px;
    }
    .parent-reviews .text .review-text-1{
        display: none; 
    }
    .slider{
        width: max-content;
        margin-top: 40px;
        display: flex;
        justify-self: center;
    }
    .slider .content{
        width: 265px;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.236);
        margin-left: 8px;
        margin-right: 8px;
    }
    .slider .parent-mdl{
        width: 50px;
        height: 50px;
    }
    .slider .stars{
        margin-top: 24px;
        margin-left: 24px;
    }
    .slider .stars h4{
        color: #1F3158;
        font-size: 17px;
    }
    .slider .text {
        margin-left: 20px;
        width: 260px;
        margin-top: 9px;
    }
    .slider .text p{
        width: 235px;
        font-size: 16px;
        margin-bottom: 20px;
    }
    .slider .name{
        margin-left: 8px;
        bottom: 4px;
    }
    .slider .name .star{
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .slider .name .star img{
        height: 20px;
        width: 20px;  
    }
    .radio-buttons{
        margin-top: 35px;
        margin-bottom: 100px;
    }
    .custom-radio-btn{
        width: 12px;
        height: 12px;
        margin-left: 17px; 
    }
    .custom-radio-btn:first-child{
        margin-left: 0px;
    }
    .custom-radio-btn span {
        width: 12px;
        height: 12px;
    }
}


/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){
    .parent-reviews .text-1{
        margin-top: 50px;
    }
    .parent-reviews .text-1 h2{
        font-size: 23px;
    }
    .parent-reviews .text-1 p{
        margin-bottom: 10px;
        font-size: 12px;
        width: 250px;
    }
    .parent-reviews .text .review-text-1{
        display: none; 
    }
    .slider{
        width: max-content;
        margin-top: 30px;
        display: flex;
        justify-self: center;
    }
    .slider .content{
        width: 255px;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.236);
        margin-left: 8px;
        margin-right: 8px;
    }
    .slider .parent-mdl{
        width: 43px;
        height: 43px;
    }
    .slider .stars{
        margin-top: 28px;
        margin-left: 28px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .slider .stars h4{
        color: #1F3158;
        font-size: 14px;
    }
    .slider .text {
        margin-left: 20px;
        width: 260px;
        margin-top: 9px;
    }
    .slider .text p{
        width: 215px;
        font-size: 12px;
        margin-bottom: 20px;
    }
    .slider .name{
        margin-left: 8px;
        bottom: 4px;
    }
    .slider .name .star{
        padding-bottom: 14px;
        margin-bottom: 14px;
    }
    .slider .name .star img{
        height: 13px;
        width: 14px;  
    }
    .radio-buttons{
        margin-top: 25px;
        margin-bottom: 51px;
    }
    .custom-radio-btn{
        width: 9px;
        height: 9px;
        margin-left: 9px; 
    }
    .custom-radio-btn:first-child{
        margin-left: 0px;
    }
    .custom-radio-btn span {
        width: 9px;
        height: 9px;
    }
}