.logo {
  height: 40px;
  width: 40px;
}
.brand {
  height: 35px;
}

.nav-brand {
  padding-right: 400px;
}

.service {
  width: 370px;
  margin-top: 100px;
  padding-left: 90px;
  padding-top: 30px;
}
.btn {
  background-color: #a63634;
  color: white;
  margin-top: 30px;
}
.service-title {
  font-family: Helvetica !important;
  font-weight: bold;
}
.draw1 {
  height: 150px;
  position: absolute;
  top: 42px;
}
#nav {
  margin-left: 70px;
}

.rectangle {
  height: 500px;
  width: 400px;
  position: absolute;
  top: 70px;
  z-index: -1;
  left: 1150px;
}
.student {
  height: 500px;
  z-index: 2;
  margin-right: 30px;
  border-radius: 6px;
  background-image: url(../img/rectangle2.png);
}
.stud-img {
  width: 400px;
  height: 500px;
}
.hero {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-service {
  font-family: Helvetica;
}
body {
  font-family: Helvetica;
}
#card-img {
  height: 60px;
  width: 60px;
}
#card {
  align-items: center;
  text-align: center;
  justify-content: center;
}
