.logo {
  height: 40px;
  width: 40px;
}
.brand {
  height: 35px;
}

.nav-brand {
  padding-right: 400px;
}

.service {
  width: 370px;
  margin-top: 100px;
  padding-left: 90px;
  padding-top: 30px;
}
.book-btn {
  background-color: #a63634;
  color: white;
  margin-top: 30px;
}
.service-title {
  font-family: Helvetica !important;
  font-weight: bold;
}
.draw1 {
  height: 150px;
  position: absolute;
  top: 42px;
}
#nav {
  margin-left: 70px;
}

.rectangle {
  background-image: url(../img/rectangle.png);
  height: 500px;
  width: 400px;
  top: 70px;
  z-index: -1;
  left: 1138px;
}
.student {
  height: 500px;
  z-index: 1;
  right: 50px;
  margin-top: 30px;
  border-radius: 6px;
  background-image: url(../img/rectangle2.png);
}
.stud-img {
  width: 400px;
  height: 500px;
}
.hero {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-service {
  font-family: Helvetica;
}
body {
  font-family: Helvetica;
}
#card-img {
  height: 60px;
  width: 60px;
}
#card {
  width: 14rem;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.student2 {
  background-image: url(../img/rectangle2.png);
  width: 400px;
  z-index: 1;
}
.subtract {
  height: 150px;
  margin-left: 450px;
  float: left;
}
.booking {
  margin-left: 405px;
}
.subtract2 {
  height: 100px;
  position: absolute;
  margin-top: -60px;
  z-index: -1;
}
.num-fig {
  height: 70px;
  margin-right: 20px;
}
.text-box {
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: 100px;
  border-radius: 6px;
}

.step-sect {
  margin-top: 50px;
}
.step-title {
  text-align: center;
}
.all-steps {
  margin-right: auto;
  margin-left: auto;
}
.review {
  width: 300px;
  padding: 30px;
}
.reviews-sect {
  overflow: scroll;
  padding: 30px;
  display: flex;
}
.avatar {
  height: 70px;
  padding: 10px;
}
.tutor {
  width: 500px;
}
.become-btn {
  background-color: #a63634;
  color: white;
}
.back-image {
  height: 500px;
  width: 400px;
  z-index: -1;
  margin-top: -30px;
  background-image: url(../img/rectangle.png);
}
.top-image {
  width: 500px;
  height: 500px;
  z-index: 2;
}
.tutor-images {
  direction: rtl;
  margin-left: 1050px;
  margin-top: -80px;
}
.tutor-sect {
  margin-top: 100px;
}
.rect2 {
  background-image: url(../img/rectangle2.png);
  z-index: 1;
  width: 420px;
  right: 40px;
  margin-top: 30px;
}
.why-sect {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 760px) {
  .nav-brand {
    padding-right: 100px;
  }
  .rectangle {
    left: 790px;
  }
  #card {
    width: 20rem !important;
  }
}
