@font-face {
  font-family: "Adobe-Garamond-Bold";
  src: url(../fonts/AGaramondPro-Bold.otf);
}
.logo {
  height: 30px;
  width: 30px;
}
.logo-footer {
  height: 30px;
  width: 30px;
}
.newsletter {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.private {
  color: rgba(7, 10, 19, 0.6);
  font-weight: 400;
  font-size: 19px !important;
}
.brand {
  height: 30px;
}
.nav-brand {
  padding-right: 290px;
  z-index: 1;
}
.nav-b {
  margin-left: 20px;
}
.nav {
  margin-left: 250px;
}
.nav-brand2 {
  padding-right: 200px;
  z-index: 1;
  margin-right: auto;
}
.service {
  margin-top: 100px;
  margin-left: 150px;
  padding-top: 30px;
}
.book-btn {
  background-color: #a63634;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  margin-top: 40px;
}
.book-btn:hover {
  background-color: black;
}
.d-review {
  text-align: left !important;
}
.book-btn a {
  text-decoration: none;
  color: white;
}
.service-title {
  font-family: Adobe-Garamond-Bold !important;
  font-weight: 700;
  font-size: 55px;
}
.draw1 {
  padding-right: 20px;
  height: 130px;
  position: absolute;
  top: 29px;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 15px; /* change width */
  height: 15px; /* change height */
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
  border-radius: 100%; /* add border-radius */
}
.carousel-indicators li {
  margin-top: 10px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-indicators :active {
  background-color: black !important;
}
.my-form {
  background-color: #ffffff;
  margin-left: 80px;
}
.rectangle {
  background: #b84b40;
  border-radius: 14px;
  height: 630px;
  width: 500px;
  z-index: -1;
}
.student {
  position: absolute;
  height: 630px;
  z-index: 1;
  right: 50px;
  margin-top: 45px;
  border-radius: 14px;
  background: #fed7bd;
}
.stud-img {
  width: 589px;
  height: 626px;
}
.hero {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.why-head {
  margin-left: 130px !important;
}
.about-service {
  font-size: 22px;
  line-height: 30px;
  font-family: Helvetica;
}
body {
  font-family: Helvetica;
  overflow-x: hidden;
}
body h1 {
  font-family: Adobe-Garamond-Bold !important;
}
body h4 {
  font-family: Adobe-Garamond-Bold !important;
}
#card {
  height: 300px;
  border-radius: 9px;
  padding-left: 10px;
  padding-right: 10px;
}
#card-img {
  height: 90px;
  padding: 4px;
  width: 90px;
}
#card {
  width: 228px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.student2 {
  background: #fed7bd;
  width: 570px;
  border-radius: 14px;
  z-index: 1;
}

.subtract {
  margin-top: -130px;
  height: 130px;
}
.booking {
  margin-left: 500px;
}
.subtract2 {
  height: 100px;
  position: absolute;
  margin-top: -60px;
  z-index: -1;
}
.num-fig {
  z-index: 1;
  height: 70px;
  margin-right: 20px;
}
.text-box {
  align-items: center;
  justify-content: center;
  padding: 10px;

  border-radius: 6px;
}
.social-title {
  color: #ffffff8d;
  font-weight: normal !important;
}
.step-sect {
  margin-top: 50px;
}
.step-title {
  text-align: left;
  margin-left: 20px;
  font-size: 22px;
  font-weight: 400;
}
.d-step {
  font-weight: 300;
  font-size: 20px;
}
.all-steps {
  margin-right: auto;
  margin-left: auto;
}
.step {
  width: fit-content;
}
.review {
  width: 340px;
  padding: 30px;
}
.reviews-sect {
  padding: 10px;
  padding-bottom: 30px;
}
.stud-sub {
  height: 80px;
  width: 200px;
  margin-top: 630px;
  float: right;
}
.review-container {
  margin-bottom: 170px;
  margin-left: auto;
  margin-right: auto;
}
.avatar {
  height: 70px;
  padding: 5px;
}
.rv-sm {
  display: none;
}
.tutor {
  margin-top: -80px;
  width: 500px;
  margin-left: 100px !important;
}

.become-btn:hover {
  background-color: black;
}
.become-btn {
  background-color: #a63634;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}
.back-image {
  height: 600px;
  width: 400px;
  z-index: -1;
  margin-top: -30px;
  background: #b84b40;
  border-radius: 14px;
}
.top-image {
  width: 589px;
  height: 626px;
  z-index: 2;
}

.tutor-images {
  direction: rtl;
  margin-left: 1050px;
  display: block;
  margin-top: -230px;
}
.foot-links a {
  text-decoration: none;
  color: #ffffff8d;
}
.tutor-sect {
  margin-top: 150px;
  height: fit-content;
  margin-bottom: 200px;
}
.rect2 {
  border-radius: 14px;
  background: #fed7bd;
  z-index: 1;
  width: 500px;
  right: 40px;
  margin-top: 30px;
}
.why-sect {
  padding: 20px;
  margin-left: 100px;
}
.col-sm {
  margin-left: -100px;
}
.footer {
  background: #1f3158;
  margin-top: 70px;
  padding: 70px;
}
.line {
  position: absolute;
  margin-left: 33px;
}
.social {
  height: 45px;
  width: 45px;
}
.footer span {
  color: #ffffff8d;
}
.copyright p {
  font-size: 13px;
  color: #ffffff8d;
}
.stud-img-sm {
  display: none;
}
.newsletter-btn {
  background-color: #a63634;
  color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.subscribe {
  width: 479px;
  background-color: inherit;
  color: white;
}
.become-btn a {
  text-decoration: none !important;
  color: white;
}
.hr {
  color: white;
  margin-top: 80px;
}
.bk-sm {
  display: none;
}
.tele {
  height: 20px;
}
.d-form {
  width: 360px;
}
#follow {
  display: none;
  margin-left: 40px;
}
.sub-btn {
  background-color: #a63634;
  color: white;
  margin-top: 20px;
}
.sub-btn:hover {
  background-color: black;
  color: white;
}
.booking-text {
  margin-left: 40px;
}
.in-touch {
  height: fit-content;
  margin-right: 150px;
}
.why-join {
  height: fit-content;
  margin-right: 280px;
}
.contact-img {
  width: 270px;
}
.subs-div {
  float: right;
  margin-top: -60px;
}
.tutor-sm {
  display: none;
}
.join-img {
  height: 50px;
  width: 50px;
}
#top {
  background: rgba(251, 142, 66, 0.03);
}
.join-hr {
  width: 40px;
  height: 3px;
  margin-top: -6px;
  background: rgba(65, 62, 62, 0.912);
}
.sub-tut {
  height: 150px;
  margin-bottom: 50px;
}
.want-tut {
  margin-top: -50px;
}
.done-right {
  background: rgba(251, 142, 66, 0.03);
}
.card-text {
  font-weight: 300;
  font-size: 20px;
  color: #373c48;
  line-height: 26px;
}
.card-title {
  font-size: 23px;
  color: #070a13;
  margin-bottom: 8px;
  line-height: 30px;
  font-weight: 400 !important;
}
.email {
  height: 100px;
}
.bucky {
  background: rgba(251, 142, 66, 0.03);
}
.mod-head {
  padding: 0 !important;
  padding-right: 30px !important;
  border: 0;
}
.footer h4 {
  font-family: Helvetica !important;
  font-weight: bold;
  font-size: 18px;
}
.tut-break {
  display: block;
}
.choice {
  display: none;
}
.footer-sectsm {
  display: none !important;
}
.choose {
  display: block;
}
.semi-c {
  display: none;
}
.stud-sect {
  margin-top: 30px;
}
@media (max-width: 760px) {
  .nav-brand {
    padding-right: 100px;
  }
  .semi-c {
    display: block;
    height: 70px;
    float: right;
    margin-right: -30px;
    margin-top: -60px;
  }
  .card-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
  }
  .d-review {
    font-weight: 400;
    line-height: 19px;
    font-size: 15px;
  }
  .tut-break {
    display: block;
  }
  .want-tut {
    text-align: center;
  }
  .what-sm {
    display: none;
  }
  .hr {
    margin-top: 30px;
  }
  .what-say {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
  }
  .card-title {
    font-size: 14px;
  }
  .tutor-sect {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .become-btn {
    font-size: 11px;
    line-height: 11px;
    width: 122px;
    height: 24px;
  }
  #card-img {
    width: 43px;
    height: 43px;
  }
  .break {
    display: none !important;
  }
  .bk-sm {
    display: block;
  }
  .choice {
    display: block;
  }
  .choose {
    display: none;
  }
  .nav-brand2 {
    margin-left: -15px;
    margin-top: 15px;
    padding-right: 0px;
  }
  .num-fig {
    height: 50px;
    margin-right: 10px;
  }
  .stud-img-sm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
  }

  .become-btn {
    margin-left: 100px;
    margin-top: -20px;
  }
  .sub-tut {
    height: 60px !important;
    margin-bottom: 0px;
  }
  .book-btn {
    width: 122px;
    height: 24px;
    margin-top: -20px;
    font-size: 11px;
    line-height: 11px;
  }
  .newsletter-btn {
    width: 210px !important;
  }
  .subs-div {
    float: none;
    margin-left: -15px;
  }
  .subtract2 {
    display: none;
  }
  .nav {
    margin-left: 50px !important;
    display: block;
  }
  .stud-sub {
    display: none;
  }
  .footer span {
    font-size: 12px;
    color: #ffffff8d;
  }
  .tutor-sm {
    display: block;
    margin-left: -25px;
    width: 370px;
  }
  .tutor {
    width: 370px;
    margin-top: 0px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .d-step {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
  }
  .line {
    margin-left: 21px;
  }
  .nav-b {
    margin-left: 0px;
  }
  .subs-div {
    margin-top: 0px;
  }
  .rectangle {
    position: static !important;
    float: none;
    background: none;
  }
  .subscribe {
    width: 350px;
  }
  .why-lg {
    display: none !important;
  }
  .why-sm {
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }
  .service-title {
    font-weight: 400;
    font-size: 35px;
  }
  .why-sect {
    width: fit-content;
    margin-left: 0px;
  }
  .stud-sect {
    display: none;
  }
  .stud-img {
    height: 300px;
    width: 300px;
    display: none;
  }
  .my-form {
    width: 370px;
    margin-left: 0px;
    padding: 15px !important;
    margin-bottom: 20px !important;
  }
  .in-touch {
    display: none !important;
  }
  .why-join {
    display: none !important;
  }
  .draw1 {
    height: 80px;
  }
  body {
    overflow-x: hidden !important;
  }
  .contact-sect {
    display: flex;
    align-items: center;
  }

  .socials {
    display: flex !important;
  }
  .my-container {
    display: flex;
    flex-direction: column-reverse;
  }
  .faq-t {
    font-size: 13px;
    line-height: 19px;
    font-weight: 400px;
  }
  .footer-sect1 {
    display: none !important;
  }
  .footer-sectsm {
    display: flex !important;
    flex-direction: row;
  }
  .form-parent {
    display: block !important;
    padding: 10px;
  }
  .student {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    margin-top: 0px;
    position: static !important;
  }
  .step-sect {
    display: flex !important;
    flex-direction: column-reverse !important;
  }
  .subtract {
    margin-right: -13px;
    width: 33px;
    height: 68px;
  }
  .social {
    width: 30px;
    height: 30px;
  }
  .social-title {
    font-family: Helvetica;
    font-weight: normal !important;
    color: #ffffff8d;
    font-size: 14px !important;
  }
  .logo-footer {
    height: 25px;
    width: 25px;
  }
  .brand {
    height: 20px;
  }
  .service {
    text-align: center;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .service span {
    font-size: 15px;
  }
  .done-right {
    margin-top: -100px;
    display: block !important;
  }
  #card {
    width: 165px !important;
    height: 180px;
    margin-top: 20px;
  }

  .col-sm {
    margin-left: 0;
  }
  .step {
    width: fit-content;
    height: fit-content;
  }
  .booking {
    margin-left: -40px;
  }

  .review-container {
    display: none;
  }
  .rv-sm {
    display: block;
  }
  .tutor-images {
    display: none;
  }
  .book-p {
    display: none;
  }
  #follow {
    display: block;
    width: fit-content !important;
    text-align: center;
  }
  .booking-text {
    width: fit-content !important;
    text-align: center;
  }
  .footer {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    padding-bottom: 50px;
    padding-top: 40px;
  }
  .d-form {
    width: 330px;
  }
}
