.choose-us-info{
    width: 100%;
    display: flex;
    height:fit-content;
}
.choose-us-info .text{
    margin: auto;
    top: 100px;
    text-align: center;
}
.choose-us-info .text h2{
    font-family:"adobe-garamond-pro", serif;
}
.holder-1{
    width: 100%;
    margin: auto;
    display:inline-block;

}
.widgets-1{
    margin: auto;
    display:flex; 
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.widget-box{
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.236);
    display: inline-block;
    
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    .choose-us-info{
        padding-bottom: 163px;
    }
    .choose-us-info .text h2{
        font-size: 60px;
        font-weight: 600;
        margin-top: 150px;
    }
    .choose-us-info .text p{
        font-size: 22px;
        width: 854px;
        font-weight: normal;
        padding-top: 25px;
        padding-bottom: 60px;
        margin: auto;
    }
    .widget-box{
        width: 288px;
        height: 354px;
        margin-right: 20px;
        margin-left: 20px;
    }
    .widget-box .background-img{
        width: 86px;
        height: 86px;
        position: relative;
        margin-top:36px ;
    }
    .widget-box .logo-img{
        position: absolute;
        margin-top: 58px;
        margin-left: -68px;
    }
    .widget-box h4 {
        font-size: 23px;
        color: #070A13;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .widget-box p {
        font-size: 20px;
        color: #070a13a2;
        width: 220px;
        margin: auto;
    }


}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){
    .choose-us-info{
        padding-bottom: 113px;
    }
    .choose-us-info .text h2{
        font-size: 50px;
        font-weight: 600;
        margin-top: 100px;
    }
    .choose-us-info .text p{
        font-size: 20px;
        width: 754px;
        font-weight: normal;
        padding-top: 22px;
        padding-bottom: 50px;
        margin: auto;
    }
    .widget-box{
        width: 225px;
        height: 304px;
        margin-right: 11px;
        margin-left: 11px;
        margin-bottom: 20px;
    }
    .widget-box .background-img{
        width: 76px;
        height: 76px;
        position: relative;
        margin-top:30px ;
    }
    .widget-box .logo-img{
        position: absolute;
        margin-top: 50px;
        margin-left: -57px;
        width: 40px;
        height: 40px;
    }
    .widget-box h4 {
        font-size: 20px;
        color: #070A13;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .widget-box p {
        font-size: 18px;
        color: #070a13a2;
        width: 190px;
        margin: auto;
    }
}


/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){
    .choose-us-info{
        padding-bottom: 50px;
    }
    .choose-us-info .text h2{
        font-size: 40px;
        font-weight: 600;
        margin-top: 60px;
    }
    .choose-us-info .text p{
        font-size: 18px;
        width: 100%;
        max-width: 620px;
        font-weight: normal;
        padding-top: 22px;
        padding-bottom: 50px;
        margin: auto;
    }
    .widget-box{
        width: 220px;
        height: 284px;
        margin-right: 13px;
        margin-left: 13px;
        margin-bottom: 18px;
    }
    .widget-box .background-img{
        width: 66px;
        height: 66px;
        position: relative;
        margin-top:25px ;
    }
    .widget-box .logo-img{
        position: absolute;
        margin-top: 44px;
        margin-left: -49px;
        width: 32px;
        height: 32px;
    }
    .widget-box h4 {
        font-size: 18px;
        color: #070A13;
        margin-top: 22px;
        margin-bottom: 16px;
    }
    .widget-box p {
        font-size: 16px;
        color: #070a13a2;
        width: 170px;
        margin: auto;
    }
}


/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){
    .choose-us-info{
        padding-bottom: 55px;
    }
    .choose-us-info .text h2{
        font-size: 23px;
        font-weight: 600;
        margin-top: 54px;
    }
    .choose-us-info .text p{
        font-size: 12px;
        width: 277px;
        max-width: 320px;
        font-weight: normal;
        padding-top: 10px;
        padding-bottom: 30px;
        margin: auto;
    }
    .widget-box{
        width: 138px;
        height: max-content;
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 30px;
    }
    .widget-box .background-img{
        width: 44px;
        height: 44px;
        position: relative;
        margin-top:21px ;
    }
    .widget-box .logo-img{
        position: absolute;
        margin-top: 33px;
        margin-left: -32px;
        width: 20px;
        height: 20px;
    }
    .widget-box h4 {
        font-size: 14px;
        color: #070A13;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .widget-box p {
        font-size: 12px;
        color: #070a13a2;
        margin: auto;
        padding-bottom: 21px;
        height: 57px;
        width: 131px;

    }
}