footer *{
    color:#ffffff9e
}
footer{
    width: 100%;
    background-color: #1F3158;
    display: block;
    position: relative;
}
.logo-image-1{
    text-decoration: none ;
    display: inline-block;
    float: left;
}
.logo-text-1{
    display: inline-block;
}
.logo-text-1 a{
    color: #ffffff;
    text-decoration: none ;
    font-weight: 400;
    font-family: "adobe-garamond-pro", serif;
    font-style: normal;
}
.connect{
    position: relative;
}
.connect .img{
    display: inline-block;
}
.connect .img-1{
    display: flex;
    position: relative;
}
.connect .img-2{
    position: absolute;
}
.connect .img-3{
    position: absolute;
}
.connect span{
    display: block;
}
.info{
    display: flex;
    justify-content:right;
}
.info .text{
    display: inline-block;
    position: relative;
}
.info .text h4{
    color: #ffffff;
}
.info .text li{
    list-style: none;
}
.info .text li a{
    text-decoration: none;
}
.info .text li a:hover {
    text-decoration: underline;
}
footer hr{
    border: 1px solid ;
    width: 100%;
    position: relative;
    margin-top:210px ;
}
footer .copywrite .right{
    display: flex;
    justify-content: right;
}


/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    footer{
        height: 500px;
        margin-top: 799px;
    }
    .logo-image-1{
        height: 38px;
        width: 38px;
        margin-top: 73px;
    }
    .logo-image img{
        height: 38px;
        width: 38px;
        margin-bottom: 17px;
    }
    .logo-text-1{
        height: 35px;
        margin-left: 5px;
        margin-top: 73px;
        margin-bottom: 17px;
    }
    .logo-text-1 a{
        font-size: 37px;
    }
    .connect{
        margin-top: 20px;
    }
    .connect span{
        font-size: 20px;
    }
    .connect .img-1{
        margin-top: 15px;
    }
    .connect .img-2{
        margin-top: -35px;
        margin-left: 15px;
    }
    .connect .img-3{
        margin-top: -33px;
        margin-left: 14px;
    }
    .connect .img-3:first {
        display: none;
    }
    .connect .img{
        margin-right:17px ;
    }
    .info{
        margin-top: -254px;
    }
    .info .text{
        margin-left: 110px;
    }
    .info .text ul{
        width: 165px;
    }
    .info .text h4{
        font-size: 20px;
        margin-bottom: 15px;
    }
    .info .text li{
        padding-bottom: 8px;
    }
    footer hr{
        margin-top:210px ;
    }
    footer .copywrite{
        margin-top: 22px;
        font-size: 14px;
    }
    footer .copywrite .right{
        margin-top: -23px;
        padding-top: 5px;
    }
    footer .copywrite span{
        height: 23px;
    }
    
}


/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){
    footer{
        height: 500px;
        margin-top: 689px;
    }
    .logo-image-1{
        height: 38px;
        width: 38px;
        margin-top: 60px;
    }
    .logo-image img{
        height: 38px;
        width: 38px;
        margin-bottom: 12px;
    }
    .logo-text-1{
        height: 35px;
        margin-left: 5px;
        margin-top: 60px;
        margin-bottom: 12px;
    }
    .logo-text-1 a{
        font-size: 30px;
    }
    .connect{
        margin-top: 20px;
    }
    .connect span{
        font-size: 18px;
    }
    .connect .img-1{
        margin-top: 13px;
    }
    .connect .img-2{
        margin-top: -35px;
        margin-left: 14px;
    }
    .connect .img-3{
        margin-top: -33px;
        margin-left: 14px;
    }
    .connect .img-3:first {
        display: none;
    }
    .connect .img{
        margin-right:17px ;
    }
    .info{
        margin-top: -244px;
    }
    .info .text{
        margin-left: 70px;
    }
    .info .text ul{
        width: 145px;
        
    }
    .info .text h4{
        font-size: 18px;
        margin-bottom: 13px;
    }
    .info .text li{
        padding-bottom: 8px;
    }
    .info .text li a{
        padding-bottom: 8px;
        font-size: 16px;
    }
    footer hr{
        margin-top:195px ;
    }
    footer .copywrite{
        margin-top: 22px;
        font-size: 14px;
    }
    footer .copywrite .right{
        margin-top: -23px;
        padding-top: 5px;
    }
    footer .copywrite span{
        height: 23px;
    }
}


/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){
    footer{
        height: 600px;
        margin-top: 599px;
    }
    .logo-image-1{
        height: 38px;
        width: 38px;
        margin-top: 190px;
    }
    .logo-image img{
        height: 38px;
        width: 38px;
        margin-bottom: 12px;
        position: absolute;
    }
    .logo-text-1{
        height: 35px;
        margin-left: 5px;
        margin-top: 190px;
        margin-bottom: 12px;
        position: absolute;
    }
    .logo-text-1 a{
        font-size: 30px;
    }
    .connect{
        margin-top: 300px;
        position: absolute;
        display: inline-block;
    }
    .connect span{
        font-size: 18px;
    }
    .connect .img-1{
        margin-top: 13px;
    }
    .connect .img-2{
        margin-top: -35px;
        margin-left: 14px;
    }
    .connect .img-3{
        margin-top: -33px;
        margin-left: 14px;
    }
    .connect .img-3:first {
        display: none;
    }
    .connect .img{
        margin-right:17px ; 
    }
    .info{
        margin-top: 44px;
        margin: auto;
        justify-content: center;
        display: flex;
        width: 550px;
        position: relative;
    }
    .info .text{
        margin-left: 45px;
    }
    .info .text:first-child{
        margin-left: 0px;
    }
    .info .text ul{
        width: 145px;
    }
    .info .text h4{
        font-size: 18px;
        margin-bottom: 13px;
    }
    .info .text li{
        padding-bottom: 8px;
    }
    .info .text li a{
        padding-bottom: 8px;
        font-size: 16px;
    }
    footer hr{
        margin-top:195px ;
    }
    footer .copywrite{
        margin-top: 22px;
        font-size: 14px;
    }
    footer .copywrite .right{
        margin-top: -23px;
        padding-top: 5px;
    }
    footer .copywrite span{
        height: 23px;
    }
}



/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){

}
