header{
    width: 100%;
}
.header-content{
    display: inline-block;
}
.logo-image{
    text-decoration: none ;
    display: inline-block;
    float: left;
}
.logo-text{
    display: inline-block;
}
.logo-text a{
    color: #070A13;
    text-decoration: none ;
    font-weight: 400;
    font-family: "adobe-garamond-pro", serif;
    font-style: normal;
}
.nav-bar{
    display: inline-block;
    display: flex;
    justify-content: end;
}
.nav-bar li{
    list-style: none;
    display: inline-block;
}
.nav-bar li a{
    text-decoration: none;
    color:#070a1396;
}
.nav-bar li a:hover { 
    text-decoration: underline;
}
.nav-bar img{
    float: left;
}
.nav-bar span {
    color: #070A13;
}
.nav-bar .nav-selected{
    color: #070A13;
}

/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    header{
        height: 100px;
    }
    .header-content{
        height: 38px;
        width: 100%;
        margin-top: 30px;
        padding: 0px;
    }
    .logo-image{
        height: 38px;
        width: 38px;
    }
    .logo-image img{
        height: 38px;
        width: 38px;
    }
    .logo-text{
        height: 35px;
        margin-left: 5px;
        margin-top: -8px;
    }
    .logo-text a{
        font-size: 47px;
    }
    .nav-bar{
        margin-top: -30px;
    }
    .nav-bar li {
        font-size: 22px;
        padding-left: 30px;
    }
    .nav-bar li img{
        width: 22px;
        height: 22px;
        margin-top: 2px;
        padding-right: 5px;
    }
    .hamburger-menu-open{
        display: none;
    }
    .nav-bar-hamburger-menu img{
        display: none;
    }
    .hamburger-menu-close{
        display: none;
    }
    .nav-bar-hamburger-menu{
        display: none;
    }
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){
    header{
        height: 80px;
    }
    .header-content{
        height: 38px;
        width: 100%;
        margin-top: 25px;
        padding: 0px;
    }
    .logo-image {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }
    .logo-image img{
        height: 30px;
        width: 30px;
    }
    .logo-text{
        height: 30px;
        margin-left: 5px;
        margin-top: -2px;
    }
    .logo-text a{
        font-size: 40px;
    }
    .nav-bar{
        margin-top: -26px;
    }
    .nav-bar li {
        font-size: 19px;
        padding-left: 26px;
    }
    .nav-bar li img{
        width: 19px;
        height: 19px;
        margin-top: 1px;
        padding-right: 5px;
    }
    .hamburger-menu-open{
        display: none;
    }
    .nav-bar-hamburger-menu img{
        display: none;
    }
    .hamburger-menu-close{
        display: none;
    }
    .nav-bar-hamburger-menu{
        display: none;
    }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){
    header{
        height: 70px;
    }
    .header-content{
        height: 38px;
        width: 100%;
        margin-top: 20px;
        padding: 0px;
    }
    .logo-image {
        height: 29px;
        width: 29px;
    }
    .logo-image img{
        height: 29px;
        width: 29px;
    }
    .logo-text{
        height: 29px;
        margin-left: 10px;
        margin-top: -2px;
    }
    .logo-text a{
        font-size: 39px;
    }
    .hamburger-menu-open{
        margin-top: -32px;
        display: flex;
        justify-content: right;
    }
    .hamburger-menu-open img{
        height: 40px;
        width: 40px;
    }
    .hamburger-menu-close{
        margin-top: -27px;
        display: flex;
        justify-content: right;
        display: none;
        
    }
    .hamburger-menu-close img{
        height: 30px;
        width: 30px;
        
    }
    .nav-bar-hamburger-menu{
        padding-bottom: 30px;
        display: none;
    }
    .nav-bar-hamburger-menu .hamburger-menu{
        width: 500px;
        margin: auto;
    }
    .nav-bar-hamburger-menu .hamburger-menu li{
        width: 160px;
        padding-top: 30px;
        text-align: center;
        list-style: none;
        margin: auto;
    }
    .nav-bar-hamburger-menu .hamburger-menu li a{
        font-size: 20px;
        text-decoration: none;
        color:#070a1396;
    } 
    .nav-bar-hamburger-menu .hamburger-menu li a:hover{
        text-decoration: underline;
    }
    .nav-bar-hamburger-menu .hamburger-menu li img{
        height: 20px;
        width: 20px;
        margin-top: 2px;
        float: left;
    }   
    .nav-bar-hamburger-menu .hamburger-menu li span{
        font-size: 20px;
    }
    .nav-bar{
        display: none;
    }
}


/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){
    header{
        height: 60px;
    }
    .header-content{
        height: 38px;
        width: 100%;
        margin-top: 15px;
        padding: 0px;
    }
    .logo-image {
        height: 20px;
        width: 20px;
    }
    .logo-image img{
        height: 20px;
        width: 20px;
    }
    .logo-text{
        height: 25px;
        margin-left: 4px;
        margin-top: -2px;
    }
    .logo-text a{
        font-size: 20px;
    }
    .hamburger-menu-open{
        margin-top: -28px;
        display: flex;
        justify-content: right;
    }
    .hamburger-menu-open img{
        height: 24px;
        width: 24px;
    }
    .hamburger-menu-close{
        margin-top: -24px;
        display: flex;
        justify-content: right;
        display: none;
    }
    .hamburger-menu-close img{
        height: 17px;
        width: 17px;
    }
    .nav-bar-hamburger-menu .hamburger-menu{
        width: 300px;
        margin: auto;
    }
    .nav-bar-hamburger-menu .hamburger-menu li{
        width: 160px;
        padding-top: 25px;
        text-align: center;
        list-style: none;
        margin: auto;
    }
    .nav-bar-hamburger-menu .hamburger-menu li a{
        font-size: 17px;
        text-decoration: none;
        color:#070a1396;
    }    
    .nav-bar-hamburger-menu .hamburger-menu li a:hover{
        text-decoration: underline;
    }
    .nav-bar-hamburger-menu .hamburger-menu li img{
        height: 17px;
        width: 17px;
        margin-top: 2px;
        margin-right: -8px;
        margin-left: 20px;
        float: left;
    }  
    .nav-bar-hamburger-menu .hamburger-menu li span{
        font-size: 17px;
    }
    .nav-bar{
        display: none;
    }
    .nav-bar-hamburger-menu{
        padding-bottom: 30px;
        display: none;
    }
}