.learnhall-info {
    width: 100%;  
    position: relative;
    display: block;
}
.learnhall-info-images{
    width: 100%;  
    display: flex;
    justify-content: right;
    position:absolute;
}
.background-img1{
    width: 100%;
    position: absolute;
}
.brown-image{
    position:absolute;
    float: right;
    right: 0;
}
.modelbackground-image{
    position: absolute;
    display: block;
}
.model1-image{
    position: absolute;
}
.learnhall-info-text{
    position:absolute;
}
.learnhall-info-text .heading{
    font-family: "adobe-garamond-pro", serif;
    display: block;
    color: #070A13;
}
.learnhall-info-text .sub-text{
    color: #070a1396;
}
.learnhall-info-text button a{
    text-decoration: none;
    color: #FFFFFF;
}
.learnhall-info-text button{
    background-color: #C04C40;
    border: #C04C40;
}
.circle-img{
    display: none;
}


/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    .learnhall-info {
        height: 845px;
    }
    .model-container{
        width: 675px;
        height: 845px;
    }
    .brown-image{
        margin-top: 75px;
    }
    .modelbackground-image{
        margin-top: 145px;
        right: 115px;
    }
    .model1-image{
        margin-top: 118px;
        right: 136px;
    }
    .background-img1{
        height:845px;
    }
    .learnhall-info-text{
        padding-top: 194px;
    }
    .learnhall-info-text .text{
        width: 517px;
        height: 555px;
    }
    .learnhall-info-text .heading{
        font-size: 80px;
        font-weight: 700;
        width: 480px;
    }
    .learnhall-info-text .sub-text{
        font-size: 30px;
        width: 453px;
        
    }
    .learnhall-info-text p{
        font-size: 22px;
        margin-top: 50px;
    }
    .learnhall-info-text button{
        font-size: 20px;
        margin-top: 80px;
        width: 215px;
        height: 60px;
    }
}

/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){
    .learnhall-info {
        height:715px;
    }
    .model-container{
        width: 675px;
        height: 715px;
    }
    .brown-image{
        margin-top: 62px;
        width: 450px;
        height: 487px;
    }
    .modelbackground-image{
        margin-top: 132px;
        right: 65px;
        width: 460px;
        height: 522px;
    }
    .model1-image{
        margin-top: 105px;
        right: 85px;
        width: 419px;
        height: 549px;
    }
    .background-img1{
        height:715px;
    }
    .learnhall-info-text{
        margin-top: 181px;
    }
    .learnhall-info-text .text{
        width: 420px;
        height: 459px;
    }
    .learnhall-info-text .heading{
        font-size: 60px;
        font-weight: 600;
        width: 447px;
    }
    .learnhall-info-text .sub-text{
        font-size: 26px;
        width: 447px;
        
    }
    .learnhall-info-text p{
        font-size: 19px;
        margin-top: 48px;
    }
    .learnhall-info-text button{
        font-size: 18px;
        margin-top: 68px;
        width: 188px;
        height: 48px;
    }
}

/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){
    .learnhall-info {
        height: 722px;
    }
    .learnhall-info-images{
        position:absolute; 
        display: flex;
        justify-content: center;
    }
    .background-img1{
        display: none;
    }
    .brown-image{
        display: none;
    }
    .modelbackground-image{
        position:relative;
        height: 330px;
        width:300px;
        margin-top: 300px;
    }
    .model1-image{
        position:absolute;
        width: 280px;
        margin-top: -350px;
        margin-left: 12px;
    }
    .learnhall-info-text{
        margin-top: 41px;
        height: 722px;
        position:relative;
        text-align: center;
    }
    .learnhall-info-text .heading{
        font-size: 50px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .learnhall-info-text .sub-text{
        font-size: 22px;
        margin-top: 4px;
        display: flex;
        justify-content: center;
    }
    .learnhall-info-text p{
        font-size: 18px;
        margin-top: 26px;
        text-align: center;
    }
    .learnhall-info-text button{
        font-size: 16px;
        margin-top: 68px;
        width: 168px;
        height: 40px;
        margin-top: 480px;
    }
    .circle-img{
        width: 100%;
        display: flex;
        position: absolute;
        height: 722px ;
    }
    .orange-img1{
        position: relative;
        width: 160px;
        height: 160px;
        left: -110px;
        top: -40px;
    }
    .orange-img2{
        position: absolute;
        width: 90px;
        height: 160px;
        right: 0;
        margin-top: 550px;
    }
}

/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){
    .learnhall-info {
        height: 722px;
    }
    .learnhall-info-images{
        position:absolute; 
        display: flex;
        justify-content: center;
    }
    .background-img1{
        display: none;
    }
    .brown-image{
        display: none;
    }
    .modelbackground-image{
        position:relative;
        height: 215px;
        width:195px;
        margin-top: 240px;
    }
    .model1-image{
        position:absolute;
        width: 180px;
        margin-top: -225px;
        margin-left: 8px;
    }
    .learnhall-info-text{
        margin-top: 31px;
        height: 722px;
        position:relative;
        text-align: center;
    }
    .learnhall-info-text .heading{
        font-size: 26px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
    .learnhall-info-text .sub-text{
        font-size: 16px;
        margin-top: 4px;
        display: flex;
        justify-content: center;
    }
    .learnhall-info-text p{
        font-size: 14px;
        margin-top: 26px;
        text-align: center;
    }
    .learnhall-info-text button{
        font-size: 14px;
        margin-top: 68px;
        width: 158px;
        height: 30px;
        margin-top: 320px;
    }
    .circle-img{
        width: 100%;
        display: flex;
        position: absolute;
        height: 722px ;
    }
    .orange-img1{
        position: relative;
        width: 80px;
        height: 80px;
        left: -55px;
        top: -25px;
    }
    .orange-img2{
        position: absolute;
        width: 43px;
        height: 90px;
        right: 0;
        margin-top: 470px;
    }
}