.parent-reviews{
    width: 100%;
    text-align: center;
}
.slider{
    display: flex;
    justify-content: space-between;
    height: max-content;
}
.slider .content{
    margin: auto;
    display: flex;
    justify-content:flex-start; 
    flex-wrap: wrap;
    height: max-content;
    
}
.parent-reviews .text h2{
    font-family: "adobe-garamond-pro", serif;
}
.parent-reviews .text p{
    margin: auto;
}
.slider{
    margin: auto;
}
.slider .parent-mdl{
    display: block;
}
.slider .stars{
    display: block;
    position: relative;
    background-color: aliceblue;
    text-align: left;
    height: max-content;
}
.slider .text {
    display: flex;
    text-align:left;
    position:relative;
    background-color: aliceblue;
}
.slider .text .read-more{
    color: #233C7E;
    display: flex;
    flex-wrap: wrap;
}


/**********************
* large desktop layout*
**********************/
@media only screen and (min-width: 1440px){
    .parent-reviews{
        height: 871px;
    }
    .parent-reviews .text{
        margin-top: 150px;
    }
    .parent-reviews .text h2{
        font-size: 60px;
    }
    .parent-reviews .text p{
        margin-bottom: 25px;
        font-size: 22px;
        width: 785px;
    }
    .parent-reviews .text .review-text-1{
        display: none;
    }
    .slider{
        width: 1210px;
        /* height: 300px; */
        background-color: aqua;
        margin-top: 60px;
    }
    .slider .content{
        width: 390px;
        height: max-content;
        box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.236);
        margin-left: 20px;
    }
    .slider .content:first-child{
        margin-left: 0px;
    }
    .slider .parent-mdl{
        width: 77px;
        height: 77px;
        margin-left: 32px;
        margin-top: 32px;
    }
    .slider .stars{
        margin-top: 46px;
        margin-left: 8px;
    }
    .slider .stars h2{
        font-size: 22px;
        margin-bottom: 7px;
    }
    .slider .text {
        margin-left: -140px;
        margin-top: 140px;
        height: 160px;
    }
    .slider .text p{
        width: 331px;
        height: 149px;
        font-size: 20px;
        padding-bottom: 20px;
    }
   
}


/**********************
**** Desktop layout****
**********************/
@media only screen and (min-width: 960px) and (max-width: 1440px){

}


/**********************
******* Tablet ********
**********************/
@media only screen and (min-width: 576px) and (max-width: 960px){

}


/**********************
******* Mobile ********
**********************/
@media only screen and (max-width: 576px){

}